<h1 mat-dialog-title>Delete {{ card.name }}?</h1>
<div mat-dialog-content></div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Delete</button>
</div>
