<h1 mat-dialog-title>Create Card</h1>

<form mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Content</mat-label>
    <textarea matInput formControlName="content"></textarea>
  </mat-form-field>
  <mat-checkbox formControlName="favorite">Favorite</mat-checkbox>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="form.invalid" (click)="onSubmit()">
    Create
  </button>
</div>
