@import "../../../styles/colors.scss";

.small-spacer {
  width: 25px;
}

.corga-logo {
  width: 45px;
}

mat-toolbar {
  background-color: $corga-foreground-color;
  color: $corga-maintext-color;
  position: fixed;
  z-index: 3;
}
