<mat-toolbar>
  <a
    routerLink="/dashboard"
    class="navbar-item"
    data-cy="header-home-button"
    matTooltip="Dashboard"
  >
    <img class="corga-logo" src="assets/images/Logo.png" />
  </a>
  <span class="small-spacer"></span>
  <span>CORGA</span>
  <span class="example-spacer"></span>
  <ng-content></ng-content>
</mat-toolbar>
