<mat-list>
  <div mat-subheader *ngIf="header">{{ header }}</div>
  <mat-list-item *ngFor="let section of sections">
    <mat-icon mat-list-icon>bubble_chart</mat-icon>
    <div class="link" mat-line routerLink="/sections/{{ section.id }}">
      {{ section.name }}
    </div>
    <button
      [class.is-favorite]="section.favorite"
      mat-icon-button
      (click)="toggleFavorite(section)"
    >
      <mat-icon *ngIf="section.favorite" matTooltip="unmark as favorite"
        >favorite</mat-icon
      >
      <mat-icon *ngIf="!section.favorite" matTooltip="mark as favorite"
        >favorite_border</mat-icon
      >
    </button>

    <app-update-section-button
      [section]="section"
      data-cy="update-section-button"
    ></app-update-section-button>
    <app-delete-section-button
      [section]="section"
      data-cy="delete-section-button"
    ></app-delete-section-button>
  </mat-list-item>
</mat-list>
