<h1 mat-dialog-title>Update Section</h1>

<form mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-checkbox formControlName="favorite">Favorite</mat-checkbox>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" data-cy="update-section-cancel">
    Cancel
  </button>
  <button
    mat-button
    [disabled]="form.invalid"
    (click)="onSubmit()"
    data-cy="update-section-update"
  >
    Update
  </button>
</div>
