mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-dialog-title {
  padding: 20px;
}

.update-card {
  float: right;
  padding-left: 20px;
  margin-top: -5px;
}

.button {
  float: right;
}

.content {
  white-space: pre-line;
}

.mat-dialog-container {
  min-width: 250px;
}
