<div mat-dialog>
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    {{ card.name }}
    <app-update-card-button
      class="update-card"
      [card]="card"
    ></app-update-card-button>
  </div>

  <div mat-dialog-content>
    <p class="content" [innerHTML]="card.content"></p>
  </div>

  <button class="button" mat-icon-button (click)="close()">
    <mat-icon>cancel</mat-icon>
  </button>
</div>
