<mat-list>
  <div mat-subheader *ngIf="header">{{ header }}</div>
  <mat-list-item *ngFor="let card of cards">
    <mat-icon mat-list-icon>layers</mat-icon>
    <div class="link" mat-line (click)="showCard(card)">
      {{ card.name }}
    </div>
    <button
      [class.is-favorite]="card.favorite"
      mat-icon-button
      (click)="toggleFavorite(card)"
    >
      <mat-icon *ngIf="card.favorite" matTooltip="unmark as favorite"
        >favorite</mat-icon
      >
      <mat-icon *ngIf="!card.favorite" matTooltip="mark as favorite"
        >favorite_border</mat-icon
      >
    </button>

    <app-update-card-button [card]="card"></app-update-card-button>
    <app-delete-card-button [card]="card"></app-delete-card-button>
  </mat-list-item>
</mat-list>
