<div>
  <p routerLink="" routerLinkActive="router-link-active">
    <mat-icon>home</mat-icon>
  </p>
</div>

<div *ngFor="let breadcrumb of breadCrumbs$ | async">
  <p [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
    {{ breadcrumb.label }}
  </p>
</div>
