@import "../../../styles/colors.scss";

$text-color: $corga-secondarytext-color;
$text-color-hover: $corga-secondarytext-color;
$arrow-color: $corga-accent-color;
$arrow-color-hover: $corga-maintext-color;
$background-color: $corga-background-color;

$height: 15px;
$padding-bottom: 8px;

:host {
  display: flex;
  background: $background-color;
}

div {
  display: inline;

  p {
    display: block;
    float: left;
    height: $height;
    background: $arrow-color;
    text-align: center;
    padding: $height -$padding-bottom 10px $padding-bottom 30px;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 15px;
    text-decoration: none;
    color: $text-color;
    cursor: pointer;

    &::after {
      content: "";
      border-top: $height solid transparent;
      border-bottom: $height solid transparent;
      border-left: $height solid $arrow-color;
      position: absolute;
      right: -$height;
      top: 0;
      z-index: 1;
    }

    &::before {
      content: "";
      border-top: $height solid transparent;
      border-bottom: $height solid transparent;
      border-left: $height solid $background-color;
      position: absolute;
      left: 0;
      top: 0;
    }

    mat-icon {
      text-align: top;
      margin-top: -$padding-bottom/2;
    }
  }
}

div:first-child p {
  padding-left: $height + 5px;
}

div:first-child p::before {
  display: none;
}

div p:hover {
  background: $arrow-color-hover;
  color: $text-color-hover;
}

div p:hover::after {
  border-left-color: $arrow-color-hover;
  color: $text-color-hover;
}
