<app-header> </app-header>
<div class="dashboard-component">
  <app-section-list
    *ngIf="(sections$ | async).length !== 0"
    data-cy="dashboard-main-sections"
    [sections]="sections$ | async"
    header="Main Sections"
  ></app-section-list>

  <hr
    *ngIf="
      (sections$ | async).length !== 0 && (favSections$ | async).length !== 0
    "
  />

  <app-section-list
    *ngIf="(favSections$ | async).length !== 0"
    [sections]="favSections$ | async"
    data-cy="dashboard-favorite-sections"
    header="Favourite Sections"
  ></app-section-list>

  <hr
    *ngIf="
      ((favSections$ | async).length !== 0 &&
        (favCards$ | async).length !== 0) ||
      ((sections$ | async).length !== 0 && (favCards$ | async).length !== 0)
    "
  />

  <app-card-list
    *ngIf="(favCards$ | async).length !== 0"
    [cards]="favCards$ | async"
    data-cy="dashboard-favorite-cards"
    header="Favourite Cards"
  ></app-card-list>
</div>
<app-create-section-button
  [parent]="rootSection$ | async"
></app-create-section-button>
