<h1 mat-dialog-title>Delete {{ section.name }}?</h1>
<div mat-dialog-content></div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" data-cy="delete-section-cancel">
    Cancel
  </button>
  <button mat-button (click)="onSubmit()" data-cy="delete-section-delete">
    Delete
  </button>
</div>
