@import "../../../styles/colors.scss";

table {
  width: 100%;
}

app-bread-crumb {
  padding-top: 70px;
  padding-bottom: 20px;
  z-index: 2;
  position: fixed;
}

.section-component {
  padding-top: 105px;
  padding-bottom: 100px;
}

.section-name {
  margin: 0 auto;
}

.buttons {
  position: fixed;
  bottom: 60px;
  right: 5px;
}

app-create-card-button {
  padding: 5px;
}

app-create-section-button {
  padding: 5px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.is-favorite {
  color: $corga-maintext-color;
}

.header-buttons {
  float: right;
  width: 120px;
}
