<app-header>
  <!-- No pipe allowed for functions (toggleFavorite) and name attribute does not work otherwise (in test) -->
  <ng-container *ngIf="current$ | async as current">
    <div class="section-name">{{ current.name }}</div>
    <div class="header-buttons">
      <button
        [class.is-favorite]="current.favorite"
        mat-icon-button
        (click)="toggleFavorite(current)"
        data-cy="header-favorite-section-button"
      >
        <mat-icon *ngIf="current.favorite" matTooltip="unmark as favorite"
          >favorite</mat-icon
        >
        <mat-icon *ngIf="!current.favorite" matTooltip="mark as favorite"
          >favorite_border</mat-icon
        >
      </button>

      <app-update-section-button
        [section]="current$ | async"
      ></app-update-section-button>
    </div>
  </ng-container>
</app-header>
<app-bread-crumb [section]="current$ | async"></app-bread-crumb>
<div class="section-component">
  <app-section-list
    *ngIf="(currentSubSections$ | async).length !== 0"
    [sections]="currentSubSections$ | async"
    header="Sections"
  ></app-section-list>
  <hr
    *ngIf="
      (currentSubSections$ | async).length !== 0 &&
      (currentCards$ | async).length !== 0
    "
  />
  <app-card-list
    *ngIf="(currentCards$ | async).length !== 0"
    [cards]="currentCards$ | async"
    header="Cards"
  ></app-card-list>
</div>

<div class="buttons">
  <app-create-card-button [section]="current$ | async">
  </app-create-card-button>
  <app-create-section-button
    [parent]="current$ | async"
  ></app-create-section-button>
</div>
