/* You can add global styles to this file, and also import other style files */
@import "./styles/colors.scss";
@import "./styles/corga.scss";

html,
body {
  height: 100%;
  background-color: $corga-background-color;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
