@import "../../../styles/colors.scss";

footer {
  background-color: $corga-foreground-color;
  color: $corga-secondarytext-color;
  border-top: 1px solid #bbb;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  left: 0;
  width: 100%;
  z-index: 2;
}

#btmFooter {
  align-self: flex-end;
}
